# Ignore build and any build artifacts
build
.cache
compile_commands.json

# Ignore the installed compiler and any tools artifacts
tools/compiler
tools/*.txt

# Ignore the project executables
*.elf
*.hex

# Ignore vscode stuff
.vscode

# Ignore any development files
*.dump
*.map